{% import "_macros.html" as macros %}

<div class="box">
{% for comment in comments %}
    <article class="media">
        <div class="media-left">
            <figure class="image is-64x64">
                <img src="{{ comment.user.get_avatar(64) }}" alt="Image">
            </figure>
        </div>
        <div class="media-content">
            <div class="content">
                <p>
                <a href="{{ url_for('user', username=comment.user.username) }}"><strong>{{ comment.user.username }}</strong></a> 
                <small> 评价了 《{{ comment.book.bookname }}》</small>
                <br>
                {{ macros.render_star(comment.score) }}
                <br>
                {{ comment.body }}
                </p>
            </div>
        </div>
        <div class="media-right">
          <small>{{ comment.timestamp.humanize(locale='zh_cn') }}</small>
        </div>
    </article>
{% endfor %}
</div>
{{ macros.pagination_widget(pagination, 'index') }}