<!doctype html>
<html lang="zh-CN">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.bootcss.com/bulma/0.6.2/css/bulma.min.css" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

  <title>
    {% if title %}
    {{ title }} - 书荒啦
    {% else %}
    欢迎来到书荒啦
    {% endif %}

  </title>
</head>
<body class="is-clear-fix">
{% include "_partial/top_navbar.html" %}
{% include "_message.html" %}

{% block error %}
{% endblock %}

<div class="Main">

  {% block content %}
  {% endblock %}

</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>