{% extends "base.html" %}

{% block content %}
<div class="columns">
    <div class="column is-one-third"></div>
    <div class="column is-one-third">
        <div class="card">
            <div class="card-header">
                <div class="breadcrumb card-header-title" aria-label="breadcrumbs">
                        <ul>
                            <li><a href="{{ url_for('index') }}">书荒啦</a></li>
                            <li class="is-active"><a href="#" aria-current="page">设置</a></li>
                        </ul>
                </div>
            </div>
            <div class="card-content">
                <form action="" method="post">
                        {{ form.hidden_tag() }}
                        <table>
                            <tbody>
                                <tr>
                                    <td width=120>
                                        <img src="{{ current_user.get_avatar(24) }}">
                                    </td>
                                    <td width=auto>书荒啦第 {{ current_user.id }} 号会员</td>
                                </tr>
                                <tr>
                                    <td width=120 >用户名</td>
                                    <td width=auto>{{ current_user.username}}</td>
                                </tr>
                                <tr>
                                    <td width=120 >邮箱</td>
                                    <td width=auto>{{ current_user.email}}</td>
                                </tr>
                                <tr>
                                    <td width=120 ></td>
                                    <td width=auto>
                                        <a href="#">
                                            更改邮件地址
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td width=120 >{{ form.about_me.label }}</td>
                                    <td width=auto>
                                        {{ form.about_me(class="textarea", placeholder=current_user.about_me) }}
                                    </td>
                                </tr>
                                <tr>
                                    <td width=120 ></td>
                                    <td width=600>
                                        {{ form.save(class="button is-primary") }}
                                    </td>
                                </tr>                         
                            </tbody>
                        </table>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}