{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block content %}
<div class="columns">
    <div class="column is-one-quarter"></div>
    <div class="column is-half">
        <div class="box">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-75x75">
                    <img src="{{ user.get_avatar(75) }}">
                    </figure>
                </div>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>{{ user.username }}</strong>
                            <br>
                            <small>书荒啦第 {{ user.id }} 号会员，加入于{{ user.join_time }}，最后活跃 {{ user.last_seen.humanize(locale='zh_cn') }}</small>
                            <br>
                            <small>
                                {% if user.about_me %}
                                {{ user.about_me }}
                                {% else %}
                                这个人很懒，什么也没留下
                                {% endif %}
                            </small>
                        </p>
                    </div>
                </div>
                <div class="media-right">
                   {% if current_user.is_authenticated and user != current_user %}
                     {% if current_user.is_following(user) %}
                     <p><a href="{{ url_for('unfollow', username=user.username) }}" class="button is-danger is-outlined">取消关注</a></p>
                     {% else %}
                     <p><a href="{{ url_for('follow', username=user.username) }}" class="button is-success">关注</a></p>
                     {% endif %}
                   {% endif %}
                </div>
            </div>
        </div>
        <navbar class="navbar has-shadow">
            <div class="navbar-tabs">
                <a class="navbar-item is-tab" href="{{ url_for('user', username=user.username) }}">
                    {{ user.username }} 的所有评论( {{ user.comments.count() }} )
                </a>
                <a class="navbar-item is-tab is-active" href="{{ url_for('followed', username=user.username) }}">
                    关注 ( {{ user.followed.count() }} )
                </a>
                <a class="navbar-item is-tab" href="{{ url_for('followers', username=user.username) }}">
                    粉丝 ( {{ user.followers.count() }} )
                </a>
            </div>
        </navbar>
        <div class="box">
        {% for person in people %}
        <div class="media">
                <div class="media-left">
                    <figure class="image is-75x75">
                    <img src="{{ person.get_avatar(75) }}">
                    </figure>
                </div>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <a href="{{ url_for('user', username=person.username) }}"><strong>{{ person.username }}</strong></a>
                            <br>
                            <small>书荒啦第 {{ person.id }} 号会员，加入于{{ person.join_time }}，最后活跃 {{ person.last_seen.humanize(locale='zh_cn') }}</small>
                            <br>
                            <small>
                                {% if person.about_me %}
                                {{ person.about_me }}
                                {% else %}
                                这个人很懒，什么也没留下
                                {% endif %}
                            </small>
                        </p>
                    </div>
                </div>
                <div class="media-right">
                   {% if current_user.is_authenticated and person != current_user %}
                     {% if current_user.is_following(person) %}
                     <p><a href="{{ url_for('unfollow', username=person.username) }}" class="button is-danger is-outlined">取消关注</a></p>
                     {% else %}
                     <p><a href="{{ url_for('follow', username=person.username) }}" class="button is-success">关注</a></p>
                     {% endif %}
                   {% endif %}
                </div>
        </div>
        {% endfor %}
    </div>
    </div>
</div>
{% endblock %}