.sep20 {
    height: 20px;
}

.SignForm {
    max-width: 500px;
    margin: 0 auto;
}

.Main {
    margin-top: 1.5rem;
}

body {
    background-color: #e2e2e2;
    min-height: 100vh;
}

.navbar-tabs {
    background-color: white;
}

.cover {
    width: 9rem;
    height: 12rem;
}

.intro {
    height: 9rem;
    overflow:hidden;
}

.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    border:1px solid #222;
    position:absolute;
    background-color: white;
}

.ui-helper-hidden-accessible {
    display:none;
}

@media screen and (max-width: 600px) {
  .cover {
    width: 6rem;
    height: 7.785rem;
  }
  .intro {
    height: 5.625rem;
    overflow:hidden;
  }
}